html,
body {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: black;
}

h1, h2, h3 {
  color: white;
  z-index: 1000;
}



#star {
  z-index: 1000;
 animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


canvas {
  margin-top: -550px;;
}