html,
body {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: black;
}

h1, h2, h3 {
  color: white;
  text-align: center;
  z-index: 1000;
}

#star {
  margin: auto;
  margin-top: -10px;
  z-index: 1000;
 animation: rotation 12s infinite linear;
}

img {
  width: 210px;
  height: 210px;
  z-index: 100;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


canvas {
  margin-top: -550px;;
}